[vm_web-count]
web-1  ansible_host =158.160.103.104 fqdn=fhmkkrrdcclj2i2j7tr2.auto.internal
web-2  ansible_host =158.160.126.68 fqdn=fhmc30ghs25op9fcos8o.auto.internal

[vm_main_replica]
main   ansible_host  = 158.160.123.10 fqdn=fhmpp9r11d0cjjmp4bl6.auto.internal
replica ansible_host = 158.160.121.238 fqdn=fhmrb8kbu4j65av30ans.auto.internal


[str]
storage   ansible_host= 158.160.120.216 fqdn=fhml6t0tgu47m36dhuk7.auto.internal
